<app-header></app-header>
<mat-card>
    <h2>Add Dish</h2>
    <mat-form-field>
      <input matInput [(ngModel)]="dish.name" placeholder="Dish Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="dish.price" placeholder="Price">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="dish.restaurant_id" placeholder="Restaurant ID">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </mat-card>