<div class="card">
    <div *ngIf="isLoading" class="text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!isLoading">
        <div class="card-header">
            <h3>Restaurants</h3>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li *ngFor="let restaurant of restaurants" class="list-group-item">
                <a [routerLink]="['/restaurants', restaurant.id, 'dishes']" class="text-decoration-none">
                  <h5>{{ restaurant.name }}</h5>
                  <p class="text-muted">{{ restaurant.location }}</p>
                </a>
              </li>
            </ul>
    </div>
      </div>
    
  </div>